@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&family=Poppins:wght@300&display=swap');

:root {
    --color-content: linear-gradient(to bottom, #fff, #fff, #fff, #d1d1d1);
    --color-nav-button: #2e2e2e;
    /* --color-nav-button: #ffffff; */
    --color-boost: rgb(139, 14, 189);
    --color-dislike: rgb(221, 71, 71);
    --color-superlike: rgb(0, 174, 255);
    --color-like: rgb(105, 224, 115);
    --color-return: rgb(247, 216, 45);
    --color-bars: linear-gradient(to bottom, #fff, #fff, #fff);
    /* --color-bars: rgb(209, 209, 209); */
    /* --color-bars: rgb(58, 58, 58); */
    --color-active-button: rgb(33, 139, 172);
    /* --color-active-button: rgb(255, 0, 85); */
    --color-info: rgb(30, 30, 99);
    --color-jobber-page: rgb(182, 144, 74);
    --color-text: #fff;
}

body {
    margin: 0;
    padding: 0;
    color: var(--color-text);
    caret-color: transparent;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-family: 'Poppins' !important;
}

p, a, label, span {
    font-family: 'Heebo' !important;
}

a {
    text-decoration: none;
}

button {
    background: transparent;
}

button:hover {
    cursor: pointer;
}

/*                  MAP PAGE                     */

#map_page {
    height: 100vh;
    width: 100vw;
    /* background: red; */
    margin: 0;
    display: flex;
    flex-direction: column;
    color: var(--color-nav-button);
}

#map_page h1 {
    margin: 2em 2em 2em 2em;
}

#map_page p {
    margin: 2em 4em 0 4em;
    font-weight: 600;
}

#map_page ul {
    list-style: none;
    font-weight: 600;
    margin: 2em 0 0 3em;
}

#map_page ul ul {
    margin: 0;
}

#map_page ul li {
    margin-top: .5em;
}

#map_page ul li a {
    color: var(--color-active-button);
}

#map_page ul li a:visited {
    color: rgb(255, 0, 76);
}

#map_page #info {
    height: 100vh !important;
}

/*                  LOGIN PAGE                   */

#login_page {
    height: 100vh;
    width: 100vw;
    display: flex;
    background: var(--color-nav-button);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    caret-color: transparent;
    color: var(--color-nav-button);
}

#login_page h1 {
    color: var(--color-text);
}

#home_wrapper {
    position: fixed;
    left: 0;
    top: 0;
    margin: 2em;
    font-size: 1.4em;
    color: black;
    z-index: 10;
}

#home_wrapper .home {
    color: var(--color-active-button);
}

#login_page #info{
    height: 100vh !important;
}

#login_page form {
    background: var(--color-text);
    box-shadow: inset 0 0 .5em  var(--color-nav-button);
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    padding: 2em;
    border-radius: 2em;
}

#login_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login_wrapper input, #login_wrapper a, #login_wrapper label {
    margin-top: .7em;
    font-size: 1.2em;
    border: 0;
}

#login_wrapper a {
    margin-top: 1.2em;
}

#login_wrapper label {
    font-size: 1.3em;
    color: var(--color-active-button);
}

#login_wrapper input {
    border-radius: 2em;
    box-shadow: 0 0 .2em var(--color-nav-button);
    padding: .3em 0 .3em .7em;
    caret-color: var(--color-active-button);
}

#login_wrapper input:focus {
    outline: none;
}

#login_wrapper label input {
    box-shadow: none;
}

#login_button {
    border: .15em solid var(--color-active-button) !important;
    padding: .2em 1em .2em 1em;
    border-radius: .3em;
    color: var(--color-active-button);
    font-weight: 600;
}

#login_button:hover {
    background: var(--color-active-button);
    color: var(--color-text);
}

#subscribe_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#subscribe_wrapper span{
    margin-top: .5em;
}

/*                  PAGES                   */

.page {
    width: 100vw;
    height: 84vh;
    background: var(--color-nav-button);
    display: flex;
    justify-content: center;
    margin-top: 8vh;
}

nav {
    height: 8vh;
    width: 100vw;
    background: var(--color-bars);
    display: flex;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #101010;
    box-shadow: 0 .2em .5em #0000005a;
    color: var(--color-nav-button);
    z-index: 7;
}

.button_nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_nav.config {
    /* z-index: 10; */
    border: 0;
    font-size: 2.1em;
    padding: 0;
}

nav a i {
    font-size: 1.5em;
    color: var(--color-nav-button);
}

.home {
    flex: 2;
    height: 100%;
    /* background: cyan; */
}

.logo {
    flex: 6;
    color: var(--color-nav-button);
    /* background: darkblue; */
}

.config {
    flex: 2;
    height: 100%;
    /* background: cyan; */
}

.content {
    width: 100vw;
    background: var(--color-content);
}

footer {
    height: 8vh;
    width: 100vw;
    background: var(--color-bars);
    display: flex;
    position: fixed;
    bottom: 0;
    border-top: 1px solid black;
    box-shadow: 0 -.2em .5em #0000005a;
}

footer i {
    font-size: 1.5em;
}

.button_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33333%;
    height: 100%;
    color: var(--color-nav-button);
    font-size: 1.2em;
    /* background: palegreen; */
    /* box-shadow: inset 0 0 0 .2em black; */
}

.active_button {
    color: var(--color-active-button);
}

/*               OPTIONS DROPDOWN                  */
#options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: var(--color-bars);
    box-shadow: 0 0 .5em #00000066;
    /* padding: .1em; */
    border-radius: 0 0 .1em .1em;
    width: 14em;
    height: 12em;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 6;
    font-size: 1.3em;
    margin-top: 8vh;
    padding: 0 0 0 1.5em;
}

.opt_wrapper {
    width: 90%;
    /* background: red; */
}

.opt_wrapper a {
    color: var(--color-nav-button);
}

.opt_wrapper a:visited {
    color: var(--color-active-button);
}

#options_banner {
    /* background: black; */
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 5;
    top: 0;
}

.close_profile {
    font-size: 1.5em;
    flex: 2;
    height: 100%;
    /* background: cyan; */
}

#title {
    font-size: 1.5em;
    /* font-family: ; */
    flex: 6;
    /* background: darkblue; */
}

#config_fill {
    flex: 2;
    height: 100%;
}

/*                      MAIN PAGE                     */

#main_content {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background: blue; */
    overflow: scroll;
    overflow-x: hidden;
    caret-color: transparent;
}

#titulo_main {
    /* background: red; */
    width: 90%;
    margin-top: 1em;
}

#titulo_main h1 {
    margin: 0;
    color: var(--color-active-button);
}

#main_content button {
    padding: .5em .8em .5em .8em;
    font-size: 1.1em;
    border-radius: .4em;
    border: 0;
    background: var(--color-active-button);
    color: white;
}

#filters {
    width: 96%;
    /* background: red; */
    background: var(--color-bars);
    padding-bottom: 1em;
    border-radius: .5em;
    margin-top: 2vh;
    color: var(--color-nav-button);
    box-shadow: inset 0 0 .5em black ;
}

.filters_input_wrapper {
    width: 94%;
    display: flex;
    flex-direction: column;
    /* background: green; */
}

#filters form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#filters form label {
    margin-top: 1em;
    font-size: 1.1em;
}

#filters form input, #filters form select {
    padding: .5em 0 .5em 1em;
    border-radius: .4em;
    border: 1px solid black;
    margin-top: 1em;
    font-size: 1em;
}

#filters button {
    width: 94%;
    margin-top: 1.5em;
}

#filters button i {
    margin-right: .2em;
}

#job_offers {
    width: 96%;
    /* background: red; */
    padding-bottom: 1em;
}

.job {
    /* background: orange; */
    margin: 1em 0 1em 0;
    border-radius: .5em;
    border: 1px solid var(--color-text);
    padding: 1.5em;
    padding-top: 0;
}

#info_pesquisa {
    width: 95%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#info_pesquisa p {
    margin: 0;
}

#info_pesquisa_vagas {
    font-size: 1.3em;
}

#info_pesquisa_anuncios {
    font-size: 1.1em;
}

#ad_fifa {
    margin-bottom: 2em;
    max-width: 80vw;
}

/*                      JOBBER                        */

#jobber_page {
    width: 100vw;
    height: 84vh;
    background: #fff;
    caret-color: transparent;
    padding-top: 8vh;
}

#jobber_content {
    height: 100%;
    width: 100vw;
    background: var(--color-content);
    display: flex;
    align-items: center;
    justify-content: center;
}

#obj {
    width: 95%;
    height: 98%;
    border-radius: 1em;
    background: rgb(51, 51, 51);
    border: 1px solid black;
    color: white;
}

#buttons {
    width: 60vw;
    height: 4em;
    /* background: purple; */
    position: fixed;
    bottom: 8%;
    left: 0;
    margin: 0 0 3vh 20vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button_choices {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: red; */
    border-radius: 5em;
}

/* .button_choices:hover {
    filter: drop-shadow(0 0 20px red);
} */

#boost, #superlike, #return {
    font-size: 1.5em;
    aspect-ratio: 1;
    height: 70%;
}

#dislike, #like {
    font-size: 1.5em;
    aspect-ratio: 1;
    height: 90%;
}

#boost {
    color: var(--color-boost);
    border: 2px solid var(--color-boost);
    font-size: 1.3em;
    opacity: 0;
    pointer-events: none;
}

#boost:active {
    filter: drop-shadow(0 0 2px var(--color-boost));
}

#boost:hover {
    background: var(--color-boost);
    color: #fff;
}

#superlike {
    color: var(--color-superlike);
    border: 2px solid var(--color-superlike);
}

#superlike:active {
    filter: drop-shadow(0 0 2px var(--color-superlike));
}

#superlike:hover {
    background: var(--color-superlike);
    color: #fff;
}

#return {
    color: var(--color-return);
    border: 2px solid var(--color-return);
    opacity: 0;
    pointer-events: none;
}

#return:active {
    filter: drop-shadow(0 0 2px var(--color-return));
}

#return:hover {
    background: var(--color-return);
    color: #fff;
}

#dislike {
    color: var(--color-dislike);
    border: 2px solid var(--color-dislike);
    font-size: 2em;
}

#dislike:active {
    filter: drop-shadow(0 0 2px var(--color-dislike));
}

#dislike:hover {
    background: var(--color-dislike);
    color: #fff;
}

#like {
    color: var(--color-like);
    border: 2px solid var(--color-like);
}

#like:active {
    filter: drop-shadow(0 0 2px var(--color-like));
}

#like:hover {
    background: var(--color-like);
    color: #fff;
}

/*                      CHATS                    */

.chat_preview {
    height: 14vh;
    width: 100vw;
    display: flex;
    align-items: center;
    border: 0;
    /* background: red; */
}

.chat_preview_wrapper {
    flex: 7;
    height: 100%;
    display: flex;
    align-items: center;
    /* background: orange; */
}

.open_chat_icon_wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_pessoa {
    display: flex;
    overflow: hidden;
    margin-left: 2em;
}

.img_pessoa {
    height: 5em;
    width: 5em;
    border-radius: 50%;
}

.titulo_msg {
    margin-left: 2em;
    width: 50%;
}

.open_chat_icon {
    font-size: 1.5em;
}

/*                              INFO                                 */

#info_banner {
    position: fixed;
    height: 4em;
    width: 4em;
    background: var(--color-info);
    right: 0;
    top: 30%;
    border-radius: 50% 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 .2em .5em rgba(0, 0, 0, 0.8);
    z-index: 4;
    caret-color: transparent;
}

#info_button {
    font-size: 1.5em;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    border: 2px solid white;
    color: white;
}

#info {
    position: fixed;
    width: 100vw;
    height: 84vh;
    background: #000000de;
    z-index: 1;
    color: white;
    caret-color: transparent;
}

#info h2 {
    margin: 4em 2em 0 2em;
    /* background: red; */
}

#info p {
    margin: 2em 3em;
    /* background: orange; */
}

.closed {
    display: none !important;
}

.opt_info {
    height: 92vh !important;
}

.profig_page #info {
    margin-top: 8vh;
}

.profig_page #info ul {
    list-style: none;
    margin-left: 2em;
}

#info_descricao {
    color: var(--color-like);
}

#links {
    position: absolute;
    bottom: 0;
    margin-bottom: 3em;
    margin-left: 10vw;
    /* background: red; */
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

#links a {
    color: var(--color-active-button);
    font-size: 1.5em;
    z-index: 10;
}